/* variáveis globais*/
:root{
  --primary-color: #5a933c;
  --primary-color-black: #48762e;
  --secundary-color: #354d2a;
  --background-light: #ecf0f1;
  --background-white: #fff;
  --text-black: #333;
  --text-gray: #777;
  --tittle-size: 2rem;
  --subtittle-size: 1.5rem;
  --normal-text-size: 1rem;
  --small-text-size: 0.875rem;
}
/*Configuração da parte dos cards*/

.portfolio-section .centraliza-conteudo>.tittle{
  color: var(--primary-color-black);
  margin-bottom: 1.5rem;
}
.portfolio-section .centraliza-conteudo{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.nav-cards{
  flex-grow: 1;
  display: flex; /*O flex foi utilizado para habilitar a estilização do gap*/
  gap: 1.5rem;
}
.section-cards{
  flex-grow: 1;
  display: grid; /*O grid foi utilizado para controlar a disposição dos cards*/
  grid-template-columns: calc(50% - 1rem) calc(50% - 1rem);
  grid-auto-rows: auto;
  grid-auto-flow: row;
  gap: 2rem;
}

.text-cards{
  flex-grow: 1;
  background-color: var(--background-white);
  padding: 1.5rem;
  border-radius: 0 0 10px 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.text-cards h3{
  font-size: var(--subtittle-size);
  color: var(--text-black);
  font-weight: 600;
  margin-bottom: 1rem;
}
.text-cards p{
  color: var(--text-gray);
  margin-bottom: 1.2rem;
}


/*media query*/

@media screen and (max-width: 768px){
  .section-cards{
    grid-template-columns: 1fr;
  }
}